name = "MassInstallAction"
uuid = "e162569b-3ff4-40cf-b055-1e5f8042da73"
authors = ["Dilum Aluthge"]
version = "0.1.0-DEV"

[compat]
julia = "1.3"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
